@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-image: radial-gradient(#1d1d1d 2px, transparent 2px),
    radial-gradient(#1d1d1d 2px, transparent 2px);
  background-size: 45px 45px;
  background-position: 0 0, 22.5px 22.5px;
  background-color: #2a2a2a;
}

#main-title {
  color: #fff;
  text-align: center;
}
#main-title span {
  background-image: linear-gradient(
    90deg,
    rgba(240, 86, 86, 1) 0%,
    rgba(250, 1, 1, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.box {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(
    -45deg,
    rgba(240, 86, 86, 1) 0%,
    rgba(250, 1, 1, 1) 100%
  );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.box::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(
    -45deg,
    rgba(240, 86, 86, 1) 0%,
    rgba(250, 1, 1, 1) 100%
  );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.selecionado:after {
  background: linear-gradient(
    -45deg,
    rgb(36, 89, 235) 0%,
    rgb(80, 255, 10) 100%
  );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.box p {
  font-size: 14px;
}
.box p:last-child {
  color: rgb(255, 0, 0);
  font-weight: 600;
}

.box:hover::after {
  filter: blur(30px);
}

.box:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.main-view {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.search {
  --input-line: #cccccc;
  --input-text-color: #808080;
  --input-text-hover-color: transparent;
  --input-border-color: #808080;
  --input-border-hover-color: #999999;
  --input-bg-color: #333333;
  --search-max-width: 250px;
  --search-min-width: 150px;
  --border-radius: 5px;
  --transition-cubic-bezier: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-box {
  max-width: var(--search-max-width);
  min-width: var(--search-min-width);
  height: 35px;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  padding: 5px 15px;
  background: var(--input-bg-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: var(--transition-cubic-bezier);
}

.search-box:hover {
  border-color: var(--input-border-hover-color);
}

/*Section input*/
.search-field {
  position: relative;
  width: 100%;
  height: 100%;
  left: -5px;
  border: 0;
}

.search-input {
  width: calc(100% - 29px);
  height: 100%;
  border: 0;
  border-color: transparent;
  font-size: 1rem;
  padding-right: 0px;
  color: var(--input-line);
  background: var(--input-bg-color);
  border-right: 2px solid var(--input-border-color);
  outline: none;
}

.search-input::-webkit-input-placeholder {
  color: var(--input-text-color);
}

.search-input::-moz-input-placeholder {
  color: var(--input-text-color);
}

.search-input::-ms-input-placeholder {
  color: var(--input-text-color);
}

.search-input:focus::-webkit-input-placeholder {
  color: var(--input-text-hover-color);
}

.search-input:focus::-moz-input-placeholder {
  color: var(--input-text-hover-color);
}

.search-input:focus::-ms-input-placeholder {
  color: var(--input-text-hover-color);
}

.search-box-icon {
  width: 52px;
  height: 35px;
  position: absolute;
  top: 0;
  right: -21px;
  background: transparent;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: var(--transition-cubic-bezier);
}

.btn-icon-content {
  width: 52px;
  height: 35px;
  top: -6px;
  right: -21px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: var(--transition-cubic-bezier);
  opacity: 0.4;
}

.btn-icon-content:hover {
  opacity: 0.8;
}

.search-icon {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 7px;
  right: 15px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h3 {
  text-align: center;
  color: #999999;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background-image: repeating-linear-gradient(
    45deg,
    #000000 0,
    #000000 0.5px,
    transparent 0,
    transparent 50%
  );
  background-size: 13px 13px;
  background-color: #212121;
  width: 90%;
  height: 80%;
  border-radius: 15px;
  /* display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;   */
  padding: 20px;
  overflow-y: auto;
  position: relative;
}
.metahuman-details {
  width: 90%;
  height: 80%;
  display: flex;
  justify-self: center;
  align-items: center;
}
.metahuman {
  width: 40%;
  height: 100%;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.metahuman h4{
  width: 100%;
  text-align: center;
  color: #999999;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 24px;
}
.metahuman h3{
  width: 100%;
  text-align: center;
  color: #999999;
  margin-top: 40px;
  font-size: 24px;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-size: 18px;
}
.close-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.metahuman img {
  width: 60%;
  border-radius: 15px;
}
.metahuman-details {
  height: 40px;
  display: flex;
}
.metahuman-details p {
  margin-left: 10px;
  text-align: center;
  color: #cccccc;
}
.total-power h2{
  color: #fff;
  text-align: center;
}
.total-power h4, .total-power p {
  text-align: center;
}
.total-power h4{
  color: #808080;
}
.total-power p{
  color: #b3b3b3;
}
